*
{
    font-size: 25px;

}

h1
{
padding-top:20px;
}

.container p

{
font-weight: bold;
}
.container1 p
{
    font-weight:bold;
}

.workexperience p
{
    font-weight:bold;
}
.jobprofile p
{
    font-weight:bold;
}
.ACHIEVEMENTS  p
{
    font-weight:bold;
}
.COMPETENCIES p
{
    font-weight:bold; 
}
